@section HeadPartial{
    <link rel="icon" href="/swim.ico" />
    <title>SwimRecord</title>
}
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>
<fieldset>
<legend>記録</legend>
<input type="date" id="swimdate">　<button type="button" id="swimButton" class="btn btn-primary">泳いだよ！</button>
<div id="recordResult" style="color:red"></div>
</fieldset>
<fieldset>
<legend>参照</legend>
    <input type="month" id="nankai">　
    <button type="button" id="nankaiButton" class="btn btn-primary">何回泳いだかな？</button><br />
    <div id="countResult" style="color:red"></div>
</fieldset>
@section CssPartial{
<style>
#overlay{	
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}
</style>
}
@section ScriptsPartial{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.16/dayjs.min.js" integrity="sha256-4ZAJq9kaOQU0baQImJ8cE4swV+cAOrx/NL11yOL+VvY=" crossorigin="anonymous"></script>
    <script>
        $(() => {
            $("#swimdate").val(dayjs().format("YYYY-MM-DD"));
            $("#nankai").val(dayjs().format("YYYY-MM"));
        });

        $("#swimButton").click(() => {
            $("#overlay").fadeIn(300);
            $("#recordResult").text("");
            $.ajax({ url: '/SwimRecord/RecordSwim', type: "POST", data: { swimDate: $("#swimdate").val() } })
            .done(function (data) {
                if(data != -1){
                        $("#recordResult").html("記録成功！<br>今月" + data + "回目だよ！" );
                }else{
                        $("#recordResult").html("記録失敗(;_;)");
                }
                setTimeout(function () {
                    $("#overlay").fadeOut(300);
                }, 500);
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#recordResult").html("検索失敗(;_;)");
            });
        });

        $("#nankaiButton").click(() => {
            $("#overlay").fadeIn(300);
            $("#countResult").text("");
            $.ajax({ url: '/SwimRecord/CountSwim', type: "POST", data: { countTarget: $("#nankai").val() } })
                .done(function (data) {
                    $("#countResult").html(data);
                    setTimeout(function () {
                        $("#overlay").fadeOut(300);
                    }, 500);
                }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#countResult").html(data);
                });
        });
    </script>
}