<input type="button" value="←" id="prev" class="btn btn-primary btn-xs" /><input type="date" id="cDate"/><input type="button" value="→"  id="next" class="btn btn-primary btn-xs" />
<table id="followSummary" class="display cell-border compact dt-body-center nowrap" style="width:100%">
    <thead>
        <tr>
            <th>日付</th>
            <th>n_fr_do</th>
            <th>n_fr_un</th>
            <th>n_fg_do</th>
            <th>n_fg_un</th>
            <th>j_fr_do</th>
            <th>j_fr_un</th>
            <th>j_fg_do</th>
            <th>j_fg_un</th>
        </tr>
    </thead>
</table>
<table id="followDetail" class="display cell-border compact dt-body-center nowrap" style="width:100%">
    <thead>
        <tr>
            <th>ユーザー</th>
            <th>日時</th>
            <th>タイプ</th>
            <th>イベント</th>
            <th>ID</th>
            <th>名前</th>
        </tr>
    </thead>
</table>
@section ScriptsPartial{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.16/dayjs.min.js" integrity="sha256-4ZAJq9kaOQU0baQImJ8cE4swV+cAOrx/NL11yOL+VvY=" crossorigin="anonymous"></script>
    <script>
        var currentDate;
        var detailTable;
        var summaryTable;
        $(() => {
            currentDate = dayjs();
            $("#cDate").val(currentDate.format("YYYY-MM-DD"));
            summaryTable = $('#followSummary').DataTable({
                ajax: { url:'/Follows/Summary?fromdate=' + getCurrentDate(0) + '&todate=' + getCurrentDate(-5), dataSrc: '' },
                columns: [
                    { data: 'date' }
                    , { data:'noobowFollowerDo'}
                    , { data:'noobowFollowerUn'}
                    , { data:'noobowFollowingrDo'}
                    , { data:'noobowFollowingUn'}
                    , { data:'jafleetFollowerDo'}
                    , { data:'jafleetFollowerUn'}
                    , { data:'jafleetFollowingrDo'}
                    , { data:'jafleetFollowingUn'}
                ],
                paging: false,
                fixedHeader: true,
                searching: false,
                ordering: false,
                info: false
            });
            detailTable = $('#followDetail').DataTable({
                ajax: { url:'/Follows/Detail?date=' + getCurrentDate(0), dataSrc: '' },
                columns: [
                    { data: 'owner' }
                    , { data: 'eventDateString' }
                    , { data: 'followsType' }
                    , { data: 'eventType' }
                    , { data: 'screenName' }
                    , {data: 'name'}                    
                ],
                paging: false,
                fixedHeader: true,
                searching: false,
                ordering: false
            });
        });

        $("#prev").click(() => refresh(-1));

        $("#next").click(() => refresh(1));

        $("#cDate").change(() => {
            currentDate = dayjs($("#cDate").val());
            detailTable.ajax.url('/Follows/Detail?date=' + getCurrentDate(0)).load();
            summaryTable.ajax.url('/Follows/Summary?fromdate=' + getCurrentDate(0) + '&todate=' + getCurrentDate(-5)).load();
        });

        const getCurrentDate = (moveDays) => currentDate.add(moveDays, 'day').format("YYYYMMDD");

        const refresh = (moveDays) => {
            currentDate = currentDate.add(moveDays, 'day');
            $("#cDate").val(currentDate.format("YYYY-MM-DD"));
            detailTable.ajax.url('/Follows/Detail?date=' + getCurrentDate(0)).load();
            summaryTable.ajax.url('/Follows/Summary?fromdate=' + getCurrentDate(0) + '&todate=' + getCurrentDate(-5)).load();
        };

    </script>
}